@page "/stafflist"
@rendermode InteractiveServer

@inherits StaffListBase

@if (staffs == null)
{
    <div class="spinner"></div>
}
else
{


    <div class="card-group">
        @foreach (var staff in staffs)
        {

            <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                <div style="height:100%" class="card h-100">
                    <div class="card-header">
                        <h3>@staff.FirstName @staff.LastName</h3>
                    </div>
                    <img class="card-img-top imageThumbnail" height="100%" src="../../images/6858504.png" />
                    <div class="card-footer text-center">
                        <a href="@($"staffdetails/{staff.EmployeeId}")" class="btn btn-primary m-1">View</a>
                        <a class="btn btn-primary m-1">Edit</a>
                        <a class="btn btn-danger m-1">Delete</a>
                    </div>
                </div>
            </div>

        }
    </div>

}
